* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  margin: 50px 450px;
}

input {
  width: 500px;
  height: 50px;
  display: flex;
  float: left;
  margin: 25px;
  text-align: center;
  border: none;
  border-bottom: 1px solid purple;
  outline: none;
}
input:hover {
  border-bottom: 1px solid yellow;
}
button {
  margin: 50px 450px;
  width: 200px;
  height: 40px;
  background-color: rgb(229, 52, 229);
  border: none;
  color: white;
}
